@model Test_DataTables.Models.Person

<div class="m-1" id="carsHolder">
    <div class="m-1">
        @for( int i = 0; i < Model.Cars.Count; i++ ) {
        <div class="m-1 float-left" id="carHolder">
            <div class="mb-1"> @Html.TextBoxFor( model => model.Cars[i].Name )</div>
            @Html.ValidationMessageFor( model => model.Cars[i].Name, "", new { @class = "text-danger" } )
            <div> @Html.TextBoxFor( model => model.Cars[i].Year )</div>
            @Html.ValidationMessageFor( model => model.Cars[i].Year, "", new { @class = "text-danger" } )
        </div>
        }
    </div>
</div>
<div class="m-2">
    @if( string.IsNullOrWhiteSpace( Model.ErrorMessage ) ) {
        <button id="bAddPerson1" type="button" onclick="addCarServerSide()">+</button>
    }

</div>